.tort {
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #393939;
}

.sddd {
    font-family: Poppins;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
}